body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(161, 118, 74);
    padding: 15px 30px;
}
.logo {
    color:rgb(255, 255, 255);
    font-size: 1.5em;
    margin: 0;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
.nav-links a:hover {
    color:rgb(100, 76, 46)
}
.hero {
    text-align: center;
    padding: 60px 20px;
}
footer {
    background-color: rgb(46, 44, 44);
    color:white;
    text-align: center;
    padding: 15px;
}
.menu {
    padding: 40px 20px;
    text-align: center;
}
.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.menu-card {
    background-color:bisque;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
}
.menu-card img {
    width: 100%;
    border-radius: 10px;
}
.menu-card p {
    color: rosybrown;
    font-weight: bold;
}